body{
    font-family: 'Varela Round', sans-serif;
}

.container{
    padding: 0 20%;
    text-align: center;
}

h1{
    font-size: 2rem;
    font-weight: 700;
    color: #e4306f;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.row{

}

.card{
    width: 30%;
    background-color: #0f0e17;
    text-align: left;
}

.float-left{
    float: left;
}

img{
    width: 30%;
    float: left;
}

.data{
    width: 70%;
    font-size: 0.7rem;
    margin-left: 5px;
    color: #FFFFFF;
}

.data-task{
    font-size: 0.7rem;
}

.data-mail{
        color: #4acaf7;
}