body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    padding: 0 20%;
    text-align: center;
}

h1{
    font-size: 2rem;
    color: #e4306f;
}

h2{
    padding:0;
    font-size: 1rem;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.row{
    height: 200px;
}

.card{
    width: 33%;
    background-color: #0f0e17;

    text-align: left;
}

.float-left{
    float: left;
}

img{
    width: 25%;
}

.data{
    
    margin-left: 5px;
    color: #FFFFFF;
}

.data-task{
    font-size: 0.7rem;
}

.data-mail{
    font-size: 0.7rem;
    color: #4acaf7;
}